@media screen and (max-width:400px){
    .hidewhentoosmall{
        display: none;
    }
   #showcasesec{
        background-image: url('./images/hello.png');
        background-size: contain;
        background-repeat:no-repeat ;
        background-position: 50%;
    }
}

@media screen and (min-width:1015px){
#signupnewsletter{
    width:60%;
}
}

body::before{
    display: block;
    height:60px;
    content: '';
}

#map{
    width:100%;
    height:100%;
    border-radius: 10px;
}