@media screen and (max-width:400px){
.hidewhentoosmall{
    display: none;
}
#showcasesec{
    background-image: url('./images/hello.png');
    background-size: contain;
    background-repeat:no-repeat ;
    background-position: 50%;
}
}

@media screen and (min-width:1015px){
#signupnewsletter{
    width:60%;
}
}

body::before{
    display: block;
    height:40px;
    content: '';
}

#map{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.zoomcard:hover::before{
z-index: 1;
}

.zoom
{
    transform: scale(1.08);
    z-index: 3;
}

.btn:hover
{
    transform: scale(1.06);
}

.typing1{
    border-right: 3px solid #ffffff;
    transition: border 0.5s ease-in-out ;
}


.font40{
    font-size: 95px;
    color: black;
    text-shadow: 2px 2px 10px #858585;
}


.container2{
display:flex;
position:relative;
flex-direction:row;
width:95vw;
height:520px;
overflow:hidden;
background-color: black;
}

.cards{
margin:2px;
position: absolute;
height: 500px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
    }

    .card:hover
    {transform: scale(1.045);}

.focusexpand
    {transform: scale(1.035);}

.cardx{
  height: 490px;
}

.moveup{
    height: 50px;
    animation: up  3s linear infinite;
    height: 30px;
 
}

@keyframes up {
    0% {
      transform: translateY(200%);
      /* opacity: 0; */
    }
    45%{
        transform: translateY(0%);
    }
    70%{
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
      transform: translateY(-120%);
    }
  }

.nav-item:active{
transform: scale(1.05);
}
#companyname:hover{
    transform: scale(1.05);
}

.nav-item:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 4px #dbdbdb;
}


.adbg{
    background-image: url('./images/bigbrain.gif');
    transform: scaleX(-100%);
    background-size:contain;
    background-position: left;
    background-repeat: no-repeat;
}
    

    @media screen and (max-width:575px) {

        .modal_ad{
            background-image: url('./images/darkbrain.gif');
            background-size:contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .blurdiv{
            backdrop-filter: blur(0.9px);
            text-shadow: 1px 1px 1px #00ffaa;
        }
    }


    @media screen and (max-width:600px) {
        .sale_ad_title{
            font-size: 33px;
        }
        .sale_ad_content{
            font-size: 23px;
            color: #000000;
        }

        .salesale{
            font-size: 32px ;
        }
        #countdowntxt{
            font-size: 35px;
            color:#1100ff;
        }

    }

    @media screen and (min-width:600px) {
        .sale_ad_title{
            font-size: 45px;
        }
        .sale_ad_content{
            font-size: 27px;
                color: #0750ee;
            }
        

        .salesale{
            font-size: 40px ;
        }

        #countdowntxt{
            font-size: 42px;
            color:#eeb807;
        }

        @media screen and (min-width:792px) {
        #countdowntxt{
            font-size: 50px;
        }
         }
}

.savesale{
background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
letter-spacing: -1px;
font-weight: 700;
}

